body, html {
    background-image: url('BEIJING.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

footer {
  background-color: rgb(24,116,205);
  color: #fff;
  text-align: center;
  padding-top: 1rem;
  margin-top: 2rem;
  opacity: 0.9;
}

.bi-instagram,.bi-twitter,.bi-whatsapp{
    padding-left: 1rem;
    padding-right: 1rem;
}
.bi-facebook{
    padding-right: 1rem;
}

a:link {
    text-decoration: none;
  }
a:hover {
    color: white;
    font-weight: bolder;
  }

.card-ots{
    height: 400px;
    width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 0px 0 8px 2px rgba(159, 159, 159, 0.544);
    border-radius: 10px;
    overflow: hidden;
}
.card-ots:hover{
    height: 480px;
    box-shadow: 0px 0 10px 5px rgb(24,116,205);
    border-radius: 10px;
}
.card-ots .img-pic{
    height: 300px;
    width: 300px;
    text-align: center;
}
.card-ots .img-pic img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.card-ots .img-pic2 img{
    height: 300px;
    width: 340px;
    padding-left:20px;
    padding-right:10px;
    object-fit: cover;
    margin: 0 auto;
}

.card-ots .card-name{
    padding-top: 6px;
    text-align: center;
    font-size: 25px;
    color: #202020;
}
.card-memo{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(101, 101, 101, 0.878);
}

.card-text{
    color:rgb(24,116,205);
    font-size: 14px;
    text-align: center;
}

.card-ots .card-t{
    padding: 0px 20px 10px 20px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card-ots:hover .card-t{
opacity: 1;
visibility: visible;
}

.card-ots .card-t .card-all{
text-align: justify;
}
